body {
    background-color: skyblue;
}
.nav {
    list-style-type: none;
    background-color: rgb(64, 64, 223);
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-style: solid;
}
ul.nav li {
    float: left;
}
ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}
ul.nav a:hover {
    background-color: #555;
    color: white;
}
.active {
    background-color: whitesmoke;
}
text1{
    font-size: x-large;
}