body {
    background-color: skyblue;
    
}
.nav {
    list-style-type: none;
    background-color: rgb(64, 64, 223);
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-style: solid;
}
ul.nav li {
    float: left;
}
ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}
ul.nav a:hover {
    background-color: #555;
    color: white;
}
.active {
    background-color: whitesmoke;
}
text1{
    font-size: x-large;
}
.image1{
    background-image: url("../Images/ContactBackground.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.indexbi{
    background-image: url("../Images/skihomepage.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.resourcesbi{
    background-image: url("../Images/skiRack.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.font1{
    font-family: "disalina", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.font2{
font-family: "homage-script", sans-serif;
font-weight: 400;
font-style: normal;
}
h1{
font-family: "karol-sans",serif;
font-weight: 700;
font-style: normal;
}